
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-image: url('../img/banner.jpg'); 
    background-size: 100% 100%;
    background-position: 100% 30%;
    color: #fff; 
    text-align: center;
    padding: 100px 0; 
}

.header-content {
    margin: 0px; 
    padding: 0px; 
    border-radius: 10px;
}

.header-title {
    margin: 0;
    font-size: 36px; 
    font-weight: bold; 
}

.title-bold {
    font-weight: normal; 
}

.header-subtitle {
    font-size: 24px; 
    margin-top: 10px; 
}


.barra {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: auto; 
    color: #fff; 
}
.logo {
    font-size: 20px; 
    margin: 0; 
    padding: 0; 
}

.sin-negrita {
    font-weight: normal; 
}

.con-negrita {
    font-weight: bold; 
}

.logo a {
    text-decoration: none; 
    color: #fff;
}


.navegacion {
    margin: 0; 
    padding: 0; 
    list-style: none; 
}
.navegacion a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px; 
    font-weight: bold;
}

.contenido-principal {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-direction: row; 
    gap: 20px; 
    text-align: left; 
    border-left: 200px solid transparent; 
}
.blog {
    flex: 1; 
    padding: 12px; 
}

.entrada-blog h3,
.cursos h4 {
    margin: 20px 0; 
}


.entrada-blog .imagen img,
.cursos img {
    width: 1000px; 
    height: 500px; 
    display: block; 
    margin: 0; 
}


.no-margin {
    width: 100%; 
    line-height: 1.5;
}

.no-margin p {
    text-align: justify; 
}

.btn-primario {
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    border: 2px solid black; 
    display: inline-block; 
    text-decoration: none; 
}


.cursos {
    flex: 1; 
    color: rgb(0, 0, 0); 
    padding: 20px; 
    margin: 0; 
}

.btn-secundario {
    background-color: #6F4E37; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: inline-block; 
    margin-top: 10px; 
}

.blog, .cursos {
    margin-left: 0px; 
    padding: 20px; 
    flex: 1; 
}


.site-footer {
    background-color: black; 
    color: #fff; 
    text-align: center;
    padding: 30px 0; 
}

.site-footer .contenedor {
    margin: 0 auto; 
    max-width: 1200px; 
}

.site-footer .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
}

.site-footer .barra p {
    margin: 0;
    font-size: 24px; 
}

.site-footer .barra span {
    font-weight: bold; 
}

.site-footer .navegacion {
    margin-top: 20px; 
}

.site-footer .navegacion a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
}

.contenido-blog-nosotros {
    flex: 1; 
    padding: 20px; 
}

.nosotros-blog .imagen img,
.cursos img {
    width: 600px; 
    height: 300px; 
    display: block; 
    margin: 0; 
}


.nosotros-blog {
    display: flex;
    align-items: center; 
}

.cursos-lista {
    list-style: none;
}

.cursos-talleres {
    list-style: none; 
}
